$md-green: (
  50: #e4eee7,
  100: #bbd5c4,
  200: #8eba9d,
  300: #619e75,
  400: #3f8958,
  500: #1d743a,
  600: #1a6c34,
  700: #15612c,
  800: #115725,
  900: #0a4418,
  A100: #7bff96,
  A200: #48ff6e,
  A400: #15ff45,
  A700: #00fb33,
  contrast:
    (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
);

$md-purple: (
  50: #e9e6ee,
  100: #c9c2d4,
  200: #a599b8,
  300: #81709c,
  400: #665186,
  500: #4b3271,
  600: #442d69,
  700: #3b265e,
  800: #331f54,
  900: #231342,
  A100: #a77fff,
  A200: #854cff,
  A400: #6219ff,
  A700: #5100fe,
  contrast:
    (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #ffffff,
      A400: #ffffff,
      A700: #ffffff
    )
);

$md-red: (
  50: #f3e0e0,
  100: #e0b3b3,
  200: #cc8080,
  300: #b84d4d,
  400: #a82626,
  500: #990000,
  600: #910000,
  700: #860000,
  800: #7c0000,
  900: #6b0000,
  A100: #ff9a9a,
  A200: #ff6767,
  A400: #ff3434,
  A700: #ff1a1a,
  contrast:
    (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #ffffff,
      A700: #ffffff
    )
);
