$md-green: (
  50: #f6faf5,
  100: #e9f3e6,
  200: #daecd5,
  300: #cbe4c4,
  400: #c0deb7,
  500: #b5d8aa,
  600: #aed4a3,
  700: #a5ce99,
  800: #9dc890,
  900: #8dbf7f,
  A100: #ffffff,
  A200: #ffffff,
  A400: #e8ffe1,
  A700: #d4ffc8,
  contrast:
    (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #000000,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
);

$md-purple: (
  50: #f6f4fa,
  100: #e9e4f2,
  200: #dad2ea,
  300: #cbc0e2,
  400: #bfb3db,
  500: #b4a5d5,
  600: #ad9dd0,
  700: #a493ca,
  800: #9c8ac4,
  900: #8c79ba,
  A100: #ffffff,
  A200: #ffffff,
  A400: #e3d7ff,
  A700: #d1beff,
  contrast:
    (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #000000,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
);

$md-red: (
  50: #fbf0ed,
  100: #f5d9d3,
  200: #efbfb6,
  300: #e8a598,
  400: #e39282,
  500: #de7f6c,
  600: #da7764,
  700: #d56c59,
  800: #d1624f,
  900: #c84f3d,
  A100: #ffffff,
  A200: #ffe7e4,
  A400: #ffbab1,
  A700: #ffa497,
  contrast:
    (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
);
