@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config($font-family: 'Lato');
$custom-button-typography: mat-typography-config(
  $font-family: 'Roboto Mono, monospace'
);
