.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
}

.bonks {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 35px;
  background: green;
  background-color: darkgoldenrod;
}
