<section class="bubble-main">
  <form [formGroup]="gameForm">
    <mat-form-field appearance="outline">
      <mat-label>Game</mat-label>
      <input formControlName="gameName" matInput>
      <mat-hint>Hint/Error Text</mat-hint>
      <mat-error *ngIf="gameForm.get('gameName').hasError('required')">
        Game name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button (click)="createGame()">Add Game</button>
    </div>
  </form>

  <h3>YOUR GAMES</h3>
  <div *ngFor="let game of games$ | async">
    {{ game.name }}
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Group</mat-label>
    <input matInput #groupInput>
    <mat-hint>Hint/Error Text</mat-hint>
  </mat-form-field>
  <div>
    <button mat-stroked-button (click)="createGroup(groupInput.value)">Add Group</button>
  </div>

  <h3>YOUR GROUPS</h3>
  <div *ngFor="let group of groups$ | async">
    <div (click)="openGroup(group.id)" style="cursor: pointer;">
      {{ group.name }}
    </div>
  </div>
</section>