<section class="bubble-main">
  <form [formGroup]="gameForm">
    <input formControlName="gameName" type="text" />
    <div class="bubble">
      <p-button label="Add Game" (click)="createGame()"></p-button>
    </div>
  </form>

  <h3>YOUR GAMES</h3>
  <div *ngFor="let game of games$ | async">
    {{ game.name }}
  </div>

  <input type="text" #groupInput />
  <div class="bubble">
    <p-button
      label="Add Group"
      (click)="createGroup(groupInput.value)"
    ></p-button>
  </div>

  <h3>YOUR GROUPS</h3>
  <div *ngFor="let group of groups$ | async">
    <div (click)="openGroup(group.name)" style="cursor: pointer;">
      {{ group.name }}
    </div>
  </div>
</section>
